:root {

    /*Hint: look into using `hsla()`*/
    --clr-primary-red: hsl(0, 100%, 67%);
    --clr-primary-orange: hsl(39, 100%, 56%);
    --clr-primary-green: hsl(166, 100%, 37%);
    --clr-primary-blue: hsl(234, 85%, 45%);
    --clr-primary-navy-blue: #303B59;

    --clr-gradient-blue-1: hsl(252, 100%, 67%);
    --clr-gradient-blue-2: hsl(241, 81%, 54%);
    --clr-gradient-circle-1: hsla(256, 72%, 46%, 1);
    --clr-gradient-circle-2: hsla(241, 72%, 46%, 0);

    --ff-regular: 'Hanken Grotesk', sans-serif;

    --fw-normal: 500;
    --fw-bold: 700;
    --fw-extra: 800;

}

*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

  /*general styling*/

  body{

    font-size: 1.15rem;
    background-color: #ECF2FF;
    color: white;
    font-family: var(--ff-regular);

    display: grid;
    place-content: center;
    align-items: center;
  }

  .results-card{
    max-width: 350px;
    background-color: white;
    border-radius: 2rem;

    margin: 1rem;

    overflow: hidden;
  }

  .results-card-header{
    background: linear-gradient(180deg, var(--clr-gradient-blue-1) 0%, var(--clr-gradient-blue-2) 100%);
    border-radius: 2rem;

    padding: 2rem;
    gap: .65rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .your-result{
    font-size: 1.5rem;
    opacity: 0.65;
  }

  .results-circle{

    display: grid;
    place-content: center;
    align-items: center;
    
    height: 200px;
    width: 200px;

    border-radius: 50%;
    background: linear-gradient(180deg, var(--clr-gradient-circle-1) 35%, var(--clr-gradient-circle-2) 100%);

    text-align: center;
  }

  .results-circle-top-number{
    font-size: 4rem;
  }

  .results-circle-bottom-number{
    font-size: 1.15rem;
    opacity: 0.65;
  }

  .results-status{
    margin: .65rem;
  }

  .results-status-word{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .results-status-text{
    font-size: 1rem;
    font-weight: 400;
    color: hsl(241, 100%, 89%);
    text-align: center;
    max-width: 280px;
  }

  @media (min-width: 666px){
    .results-card{
        display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 46rem;
    }
  }

  .results-card-summary{
    padding: 2rem;

    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
  }


  .sumarry-heading {
    color: var(--clr-primary-navy-blue);
    align-items: flex-start;
    font-size: 1.5rem;
  }

  .bar {

    width: 100%;
    margin: 0.5rem 0;
    color: var(--clr-primary-navy-blue);
    border-radius: 0.85rem;

    padding: 1rem;
  }

  .bar-align{
    display: flex;
    justify-content: space-between;
  }

  .bar-text-align{
    display: flex;
    gap: .5rem;
  }

  .bar-reaction{
    background-color: hsla(0, 100%, 67%, 10%);
  }

  .bar-memory{
    background-color: hsla(39, 100%, 56%, 10%);
  }

  .bar-verbal {
    background-color: hsla(166, 100%, 37%, 10%);
  }

  .bar-visual {
    background-color: hsla(234, 85%, 45%, 10%)
  }


  .btn {
    width: 100%;
    
    color: white;
    cursor: pointer;

    border: 0;
    border-radius: 8rem;
    padding: 1rem;
    margin: 2rem 0 1rem 0;

    background: linear-gradient(180deg, var(--clr-gradient-blue-1) 0%, var(--clr-gradient-blue-2) 100%);
  }

  .btn:hover, .btn:focus{
    background-color: hsl(224, 30%, 27%);
  }



  @media (max-width: 665px){
    .results-card{

      margin: 0;
      max-width: 100%;

      border-radius: 0;
      
    }

    .results-card-header{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    padding: 2rem;
    gap: .65rem;

    max-width: 100%;

    display: grid;
    }

    .your-result{
        place-self: center;
      }

    .results-circle{
        width: 140px;
        height: 140px;

        place-self: center;
    }

    .results-circle-top-number{
        font-size: 3.5rem;
      }
    
      .results-circle-bottom-number{
        font-size: 1rem;
        opacity: 0.65;
      }

  }

